a {
    color: darkcyan;
}
body {
    background-color: #ffbc2b;
    text-align: center;
}
img {
    width: 10vw;
}
article > img {
    width: 20vw;
}

nav {
    margin-top: 50px;
}
p, a{
    font-size: 1.3rem;
}
h1 {
    font-size: 3rem;
    text-decoration: underline;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.5rem;
}
* {
    font-family: "Comic Neue";
}
a:hover{
    text-shadow: 7px 7px 6px black;
}